<td class="result-controls">
	{{#if isTrashable}}
		<span class="icon-trash" {{action "toggleTrashed"}} title="Toggle trashed"></span>
	{{/if}}	
	{{#if isResolved}}
		<span class="icon-random" {{action "setScramble" scramble}} title="Load this scramble"></span>
	{{/if}}
</td>
<td>
	{{total}} 
	{{#if isResolved}}
		({{timeDifference totalDifference}})
	{{/if}}
</td>
{{#each d in steps}}
	<td>
		{{d.time}} 
		{{#if isResolved}}
			({{timeDifference d.differenceFromAverage}} - {{percentage d.percentOfTotal}})
		{{/if}}
	</td>
{{/each}}
