<tr {{bindAttr class="isTrashed"}}>
	<td class="result-controls">
		{{#if isTrashable}}
			<span class="icon-trash" {{action "toggleTrashed"}}></span>
			<span class="icon-random" {{action "setScramble" scramble}} ></span>
		{{/if}}
	</td>
	<td>{{total}}</td>
	{{#each times}}
		<td>{{this}}</td>
	{{/each}}
</tr>
