<div class="row-fluid">
	<h2>{{puzzle.name}}: {{method.name}}</h2>
	<h4>Scramble: {{solve.scramble}}</h4>
	<div>
		<div class="timeDisplay">
			{{#if method.isMultiStep}}
				<h3>{{solve.currentStep.name}}: {{time time}}</h3>		
			{{/if}}
			<h2>Total: {{time totalTime}}</h2>
		</div>

		<div class="controls">  
			<button type="button" class="btn" {{action "step"}}>step</button>
			<button type="button" class="btn" {{action "stop"}}>stop</button>
		</div>
	</div>
</div>

<div class="results row-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th> {{! Extra space for controls column }}</th>
				<th>Total ({{solves.totalMeanAverage}})</th>
				{{#if method.isMultiStep}}
					{{#each solves.stepStats}}
						<th {{bindAttr class="active"}}>{{name}} ({{time average}} - {{percentage percentOfTotal}})</th>
					{{/each}}
				{{/if}}
			</tr>
		</thead>
		{{render "current_solve" solve}}
		{{#each solves.reverse}}
			{{render "solve" this}}
		{{/each}}
	</table>
</div>

<div id="chart" class="row-fluid">
	{{render "solves_area_graph" solves}}
</div>
