<div class="methodSelect">
	Methods: <a href="#" {{action "setMethod" Timinator.noBreakdownMethod}}>No Breakdown</a>
	<a href="#" {{action "setMethod" Timinator.cfopMethod}}>CFOP</a>
	<a href="#" {{action "setMethod" Timinator.rouxMethod}}>Roux</a>
</div>

<div class="row-fluid">
	<h4>Scramble: {{solveResult.scramble}}</h4>

	<div>
		<div class="timeDisplay">
			<h2>{{method.name}}</h2>
			{{#if isMultiStep}}
				<h3>{{stepName}}: {{time}}</h3>
			{{/if}}
			<h2>Total: {{totalTime}}</h2>
		</div>

		<div class="controls">  
			<button type="button" class="btn" {{action "step"}}>step</button>
			<button type="button" class="btn" {{action "stop"}}>stop</button>
		</div>
	</div>
</div>

<div class="results row-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th> {{! Extra space for controls column }}</th>
				<th>Total ({{log.totalMeanAverage}})</th>
				{{#if isMultiStep}}
					{{#each steps}}
						<th {{bindAttr class="active"}}>{{name}} ({{average}} - {{percentage percentOfTotal}})</th>
					{{/each}}
				{{/if}}
			</tr>
		</thead>
		{{render "solveResult" solveResult}}
		{{#each log.results}}
			{{render "solveResult" this}}
		{{/each}}
	</table>
</div>

<div id="chart" class="row-fluid">
	<svg></svg>
</div>
